@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

html {
  overflow-y: scroll;
}

.thin {
  font-weight: 200;
}

.bold {
  font-weight: 500;
}

.extra-bold {
  font-weight: 600;
}

html,
body {
  font-family: var(--font-poppins), "Noto Sans KR", sans-serif;
}
